body {
    font-family: sans-serif;
    padding: 20px;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
    position: relative;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .resizer {
    width: 5px;
    cursor: col-resize;
    background-color: #ccc;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  